---
Checks:
  - bugprone-*
  - clang-analyzer-*
  - clang-diagnostic-*
  - cppcoreguidelines-* # TODO: FIX PROTECTED VISIBILITY
  - -cppcoreguidelines-avoid-c-arrays
  - google-*
  - hicpp-*
  - -hicpp-avoid-c-arrays
  - misc-* # TODO: FIX PROTECTED VISIBILITY
  - modernize-*
  - -modernize-avoid-c-arrays
  - -modernize-use-trailing-return-type
  - performance-*
  - portability-*
  - readability-*
FormatStyle: file
HeaderFilterRegex: '/include/.*'
ImplementationFileExtensions:
  - cc
  - cpp
  - cxx
User: gianluisdiana
CheckOptions:
  cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: 'true'
  google-readability-braces-around-statements.ShortStatementLines: '1'
  google-readability-function-size.StatementThreshold: '800'
  google-readability-namespace-comments.ShortNamespaceLines: '10'
  google-readability-namespace-comments.SpacesBeforeComments: '2'
SystemHeaders:   false
WarningsAsErrors: '*'
...
